body {
    background-color: rgb(113, 116, 112);
}

.navbar {
    background-color: black;
    size: 0cqmax;
    height: 60px;
}

.navbar-content {
    text-align: center;
    color: azure;
}

h1 {
    font-size: 40px;
}

#assignment_1
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

h1{
    display: flex;
    justify-content: center;
    
}

.artist {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid gainsboro;
    text-align: center;
    background-color:rgb(7, 7, 7);
}
.artist img {
    max-width: 100%;
    height: auto;
}
h2{
    color: rgb(255, 255, 255);
}
p{
    color:rgb(135, 134, 134);
}
@media (max-width: 768px) {
    .artist {
        width: 100%;
    }
}